/x64
/.vs
/Debug
/VideoClient/Debug
/VideoClient/x64
/VideoClient/VideoClient.vcxproj.user
/VideoClient/VideoClient.vcxproj.filters
/VideoClient/*.mp4
/VideoPlay
/VideoRTSPServer/Debug
/VideoRTSPServer/VideoRTSPServer.vcxproj.user
/VideoRTSPServer/VideoRTSPServer.vcxproj.filters
